@import url('https://fonts.googleapis.com/css2?family=Gruppo,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 60px auto;
    width: 80%;
    max-width: 950px;
    font-family: "Gruppo", sans-serif;
}

h1 {
    text-align: center;
}

#section-background {
    background-image: url("../images/giant-wave.jpg");
    color: whitesmoke;
    padding-bottom: 7%;
}

#game-info {
    font-size: 1rem;
    padding-left: 10px;
    padding-top: 2px;
}

button {
    margin-left: 5px;
    margin-top: 5px;
    background-color: rgba(144, 198, 149, 1);
    border: 1px solid red;
    border-radius: 3px;
}

button:hover {
    color: whitesmoke;
}

.btn:focus {
    border: 2px solid red;
    color: whitesmoke;
}


#game-board {
    position: relative;
    margin: 0 auto 2em auto;
    width: 500px;
    height: 500px;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
}


#game-board div {
    position: absolute;
    border: 1px solid red;
    width: 50px;
    height: 50px;
    background-color: rgba(144, 198, 149, 0.5);
}

/* Mobile screens (471px and up) */
@media screen and (max-width: 720px) {

}