body {
    margin: 60px auto;
    width: 70%;
    max-width: 950px;
}

#section-background {
    background-image: url("../images/giant-wave.jpg");
    color: whitesmoke;
    padding-bottom: 7%;
}

#game-info {
    font-size: 1rem;
    padding-left: 10px;
    padding-top: 2px;
}

button {
    margin-left: 5px;
    margin-top: 5px;
    background-color: rgba(144, 198, 149, 1);
    border: 1px solid red;
}

#game-board {
	position:relative;
	margin:0 auto 2em auto;
	width:500px;
	height:500px;
}


#game-board div {
	position:absolute;
	border: 1px solid red;
	width:50px;
	height:50px;
    background-color: rgba(144, 198, 149, 0.5);
}
